.color-change {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }

  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed grey ; /* You can change the color or use border-primary */
    border-radius: .5rem; /* Adjust the border radius */
    padding: 0.7rem;
    background-color: #f8f9fa; /* Light background color */
}
.file-upload-container input[type="file"] {
    display: none; /* Hide the default file input */
}
.file-upload-container label {
    cursor: pointer;
}
.bx-show,.bx-hide{
    position: relative;
   bottom: 48px;
   left: 17rem;
   cursor: pointer;
  }

  @media (max-width: 600px) {
    .bx-show, .bx-hide{
      position: relative;
      bottom: 42px;
      left: 17rem;
    }
  }
  